body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: black;
  margin: 0;
  font-family: monospace;
  font-size: 2em
}

header {
  display: flex;
  flex-direction: column;
  background-color:rgb(69, 59, 68);
}

.menu {
  overflow-x: hidden;
  /*position: relative;*/
  left: 0;
}

.menu-open {
  left: 631px;
}

.menu-open .menu-side {
  left: 0;
  background-color: rgba(42, 26, 41, 0.96);
}

.menu-toggle {
  display: flex;
  justify-content: flex-end;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.menu-side,
.menu {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

.menu-side {
  background-color: #333;
  border-right: 1px solid #000;
  color: white;
  position: fixed;
  top: 0;
  left: -631px;
  width: 610px;
  height: 100%;
  padding: 10px;
  background-color: rgba(62, 35, 60, 0.96);
}

.title {
  display: flex;
  font-size: 2em;
  color: white;
  min-height: 120px;
  background-color: rgb(69, 59, 68);
  padding-left: 10px;;
  justify-content: space-between;;
  align-items: flex-end;
  font-family: 'Pacifico', cursive;
}

.word {
  display: flex;
  background-color: grey;
  font-size: 1em;
}

input {
  display: flex;
  flex: 1;
  max-width: 100%;
  padding: 10px;
  font-size: 3em;
  font-variant: small-caps;
  color: rgb(52, 31, 74);
}

.game {
  display: flex;
  background-color: pink;
  flex: 1 1 auto;;
}

.Grid {
  display: flex;
  flex-direction: row;
  flex: 5;
  font-size: 4em;
  flex-wrap: wrap;
  color: rgb(96, 96, 91);
}

.Grid-cell {
  display: flex;
  flex: 1;
  border-style: solid;
  border-width: thin;
  border-color: white;
  justify-content: center;
  min-width: 30%;
  background-color: rgb(50, 57, 61);
}

.Grid-cell:hover {
  background-color: rgb(44, 55, 61);
  transform: scale(1.1);
}

.image {
  display: flex;
  background: white;
  flex: 3;
  font-variant: small-caps;
  font-size: 5em;
  color: rgb(74, 67, 78);
  align-items: center;
  padding: 80px;
}

.lines {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  min-height: 10%;
  font-size: 2.5em;
  background: rgb(74, 67, 78);
  color: white;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  background-color: green;
}
