body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white;
  border-style: groove;
  margin: 0;
  font-family: monospace;
  font-size: 2em;
  max-width: 1000px;
  margin: 0 auto;
  float: none;
}
header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #453b44;
}
.menu {
  overflow-x: hidden;
  left: 0;
}
.menu-open {
  left: 631px;
}
.menu-open .menu-side {
  left: 0;
  background-color: rgba(42, 26, 41, 0.96);
}
.menu-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: white;
  text-decoration: none;
  padding: 10px;
}
.menu-side,
.menu {
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
}
.menu-side {
  background-color: #333;
  border-right: 1px solid #000;
  color: white;
  position: fixed;
  top: 0;
  left: -631px;
  width: 610px;
  height: 100%;
  padding: 10px;
  background-color: rgba(62, 35, 60, 0.96);
  z-index: 10;
}
ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}
li {
  padding: 10px 10px 10px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #453b44;
  font-size: 1.5em;
  color: white;
  min-height: 8%;
}
li:hover {
  background-color: #453643;
  font-weight: 700;
}
li:focus {
  background-color: #453643;
}
.difficulty li {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  font-size: 1.4em;
  background-color: #42304a;
}
.difficulty li:hover {
  background-color: #453643;
  font-weight: 700;
}
.mail {
  text-decoration: none;
  color: white;
}
.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 2em;
  color: white;
  min-height: 120px;
  background-color: #453b44;
  padding-left: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: Pacifico, cursive;
}
.word {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: grey;
  font-size: 1em;
}
input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 100%;
  padding: 10px;
  font-size: 3em;
  font-variant: small-caps;
  color: #341f4a;
}
.game {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: pink;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.Grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
  font-size: 4em;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #60605b;
  z-index: 5;
}
.Grid-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-style: solid;
  border-width: thin;
  border-color: white;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-content: center;
  min-width: 30%;
  background-color: #32393d;
}
.Grid-cell:hover {
  background-color: #2c373d;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  font-variant: small-caps;
  font-size: 2em;
  color: #4a434e;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 30px;
  -webkit-filter: grayscale(20%);
  -moz-filter: grayscale(20%);
  -ms-filter: grayscale(20%);
  -o-filter: grayscale(20%);
}
.one {
  background-color: red;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  border-radius: 1%;
  -webkit-box-shadow: inset 0 -50px 159px -69px #b80000;
  box-shadow: inset 0 -50px 159px -69px #b80000;
}
.two {
  background-color: #ff7f00;
  border-radius: 1%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  -webkit-box-shadow: inset 0 -50px 159px -69px #de4a00;
  box-shadow: inset 0 -50px 159px -69px #de4a00;
}
.three {
  background-color: #ff0;
  border-radius: 10%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  border-radius: 1%;
  -webkit-box-shadow: inset 0 -50px 159px -69px #bbbb04;
  box-shadow: inset 0 -50px 159px -69px #bbbb04;
}
.four {
  background-color: #0f0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 1%;
  -webkit-box-shadow: inset 0 -50px 159px -69px #03a703;
  box-shadow: inset 0 -50px 159px -69px #03a703;
}
.five {
  background-color: #00f;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 1%;
  -webkit-box-shadow: inset 0 -50px 159px -69px #0000a4;
  box-shadow: inset 0 -50px 159px -69px #0000a4;
}
.six {
  background-color: indigo;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 1%;
  -webkit-box-shadow: inset 0 -50px 159px -69px #35015b;
  box-shadow: inset 0 -50px 159px -69px #35015b;
}
.seven {
  background-color: #9400d3;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 1%;
  -webkit-box-shadow: inset 0 -50px 159px -69px #3d0257;
  box-shadow: inset 0 -50px 159px -69px #3d0257;
}
.hint-word {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 10px;
  min-height: 10%;
  font-size: 2.5em;
  background: #4a434e;
  color: white;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
}
.lines {
  padding-left: 10px;
}
.lines-won {
  padding-left: 50px;
}
.help {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.hint,
.def {
  background-color: #5e4d69;
  padding: 10px 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  font-size: 0.7em;
}
.hints,
.def_helper {
  font-size: 0.6em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 10px;
}
footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  color: white;
  background-color: #4a434e;
}
@media (min-width: 1000px) {
  body {
    font-size: 1em;
    max-width: 800px;
  }
  .grid,
  .word_to_guess,
  .div_lines {
    font-size: 2em;
  }
  .title {
    min-height: 80px;
  }
  .hint {
    font-size: 0.5em;
  }
}
