body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: white;
  /*border-style: solid;
  border-width: 20px;
  border-color: rgb(215, 199, 214);*/
  border-style: groove;
  margin: 0;
  font-family: monospace;
  font-size: 2em;
  max-width: 1000px;
  margin: 0 auto;
  float: none;
}

header {
  display: flex;
  flex-direction: column;
  background-color: rgb(69, 59, 68);
}

.menu {
  overflow-x: hidden;
  /*position: relative;*/
  left: 0;
}

.menu-open {
  left: 631px;
}

.menu-open .menu-side {
  left: 0;
  background-color: rgba(42, 26, 41, 0.96);
}

.menu-toggle {
  display: flex;
  justify-content: flex-end;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.menu-side,
.menu {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

.menu-side {
  background-color: #333;
  border-right: 1px solid #000;
  color: white;
  position: fixed;
  top: 0;
  left: -631px;
  width: 610px;
  height: 100%;
  padding: 10px;
  background-color: rgba(62, 35, 60, 0.96);
  z-index: 10;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
  list-style-type: none;
}

li {
  padding: 10px 10px 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(69, 59, 68);
  font-size: 1.5em;
  color: white;
  min-height: 8%;
}

li:hover {
  background-color: rgb(69, 54, 67);
  font-weight: bold;
}

li:focus {
  background-color: rgb(69, 54, 67);
}

.difficulty li {
  align-items: center;
  font-size: 1.4em;
  background-color: rgb(66, 48, 74);
}

.difficulty li:hover {
  background-color: rgb(69, 54, 67);
  font-weight: bold;
}

.mail {
  text-decoration: none;
  color: white;
}

.title {
  display: flex;
  font-size: 2em;
  color: white;
  min-height: 120px;
  background-color: rgb(69, 59, 68);
  padding-left: 10px;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Pacifico', cursive;
}

.word {
  display: flex;
  background-color: grey;
  font-size: 1em;
}

input {
  display: flex;
  flex: 1;
  max-width: 100%;
  padding: 10px;
  font-size: 3em;
  font-variant: small-caps;
  color: rgb(52, 31, 74);
}

.game {
  display: flex;
  background-color: pink;
  flex: 1 1 auto;
}

.Grid {
  display: flex;
  /*flex-direction: row;*/
  flex: 5;
  font-size: 4em;
  flex-wrap: wrap;
  color: rgb(96, 96, 91);
  z-index: 5;
}

.Grid-cell {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  border-style: solid;
  border-width: thin;
  border-color: white;
  justify-content: center;
  min-width: 30%;
  background-color: rgb(50, 57, 61);
}

.Grid-cell:hover {
  background-color: rgb(44, 55, 61);
  transform: scale(1.1);
  transition: all 0.1s ease-in;
}

.image {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  flex: 3;
  font-variant: small-caps;
  font-size: 2em;
  color: rgb(74, 67, 78);
  align-items: stretch;
  justify-content: space-around;
  padding: 30px;
  -webkit-filter: grayscale(20%);
  -moz-filter: grayscale(20%);
  -ms-filter: grayscale(20%);
  -o-filter: grayscale(20%);
}

.one {
  background-color: rgb(255, 0, 0); // red
  flex: 1;
  flex: 1 0 0;
  border-radius: 1%;
  -webkit-box-shadow: inset 0px -50px 159px -69px rgba(184, 0, 0, 1);
  -moz-box-shadow: inset 0px -50px 159px -69px rgba(184, 0, 0, 1);
  box-shadow: inset 0px -50px 159px -69px rgba(184, 0, 0, 1);
}

.two {
  background-color: rgb(255, 127, 0); // orange
  flex: 1;
  border-radius: 1%;
  flex: 1 0 0;
  -webkit-box-shadow: inset 0px -50px 159px -69px rgba(222, 74, 0, 1);
  -moz-box-shadow: inset 0px -50px 159px -69px rgba(222, 74, 0, 1);
  box-shadow: inset 0px -50px 159px -69px rgba(222, 74, 0, 1);
}

.three {
  background-color: rgb(255, 255, 0); // yellow
  flex: 1;
  border-radius: 10%;
  flex: 1 0 0;
  border-radius: 1%;
  -webkit-box-shadow: inset 0px -50px 159px -69px rgba(187, 187, 4, 1);
  -moz-box-shadow: inset 0px -50px 159px -69px rgba(187, 187, 4, 1);
  box-shadow: inset 0px -50px 159px -69px rgba(187, 187, 4, 1);
}

.four {
  background-color: rgb(0, 255, 0); // green
  flex: 1 0 0;
  flex: 1;
  border-radius: 1%;
  -webkit-box-shadow: inset 0px -50px 159px -69px rgba(3, 167, 3, 1);
  -moz-box-shadow: inset 0px -50px 159px -69px rgba(3, 167, 3, 1);
  box-shadow: inset 0px -50px 159px -69px rgba(3, 167, 3, 1);
}

.five {
  background-color: rgb(0, 0, 255); // blue
  flex: 1 0 0;
  flex: 1;
  border-radius: 1%;
  -webkit-box-shadow: inset 0px -50px 159px -69px rgba(0, 0, 164, 1);
  -moz-box-shadow: inset 0px -50px 159px -69px rgba(0, 0, 164, 1);
  box-shadow: inset 0px -50px 159px -69px rgba(0, 0, 164, 1);
}

.six {
  background-color: rgb(75, 0, 130); // indigo
  flex: 1 0 0;
  flex: 1;
  border-radius: 1%;
  -webkit-box-shadow: inset 0px -50px 159px -69px rgba(53, 1, 91, 1);
  -moz-box-shadow: inset 0px -50px 159px -69px rgba(53, 1, 91, 1);
  box-shadow: inset 0px -50px 159px -69px rgba(53, 1, 91, 1);
}

.seven {
  background-color: rgb(148, 0, 211); // violet
  flex: 1 0 0;
  flex: 1;
  border-radius: 1%;
  -webkit-box-shadow: inset 0px -50px 159px -69px rgba(61, 2, 87, 1);
  -moz-box-shadow: inset 0px -50px 159px -69px rgba(61, 2, 87, 1);
  box-shadow: inset 0px -50px 159px -69px rgba(61, 2, 87, 1);
}

.hint-word {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  min-height: 10%;
  font-size: 2.5em;
  background: rgb(74, 67, 78);
  color: white;
  justify-content: space-around;
  align-items: center;
  border: none;
}

.lines {
  padding-left: 10px;
}

.lines-won {
  padding-left: 50px;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.hint,
.def {
  background-color: rgb(94, 77, 105);
  padding: 10px 20px 10px 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
  align-self: center;
  flex-shrink: 1;
  font-size: 0.7em;
}

.hints,
.def_helper {
  font-size: 0.6em;
  justify-content: center;
  padding-top: 10px;
}

footer {
  display: flex;
  padding: 5px;
  color: white;
  background-color: rgb(74, 67, 78);
}

@media (min-width: 1000px) {
  body {
    font-size: 1em;
    max-width: 800px;
  }

  .grid,
  .word_to_guess,
  .div_lines {
    font-size: 2em;
  }

  .title {
    min-height: 80px;
  }
  .hint {
    font-size: 0.5em;
  }
}
